/* 全体の編集 */
body {
  max-width: 1400px;
  margin: 0 auto 0 auto;  
  background-color: #f3f3f3;
  font-family: "Noto Sans JP", serif;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}

/* 変数 */
$color-gold: #8f784e;
$font-size-main: 10px;

/* ヘッダー */
#wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
  div {
    display: inline-block;
  }
}
#logo {
  width: 50%;
  margin-left: 5px;
}
#icons {
  display: inline-block;
  align-self: center;
  margin-right: 10px;
  margin-top: 15px;
}
#icons > a {
  text-decoration: none;
}
#tel {
  width: 120px;
  margin-bottom: 13px;
  margin-right: 5px;
}
#header-icon-instagram {
  width: 43px;
  margin-bottom: 3px;
}
#header-icon-line {
  width: 50px;
}
#nav {
  display: flex;
  justify-content: space-around;
  background-color: $color-gold;
  width: 100%;
  height: 60px;
  li {
    list-style: none;
    text-decoration: none;
    align-content: center;
    margin-top: 5px;
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
    }
  } 
}
#header-img {
  width: 100%;
}

/* もっと見るボタンの設定 */
.button {
  text-align: center;
  margin-top: 30px;
  // position: absolute;
  // bottom: 50px;
  // left: 45%;
  img {
    width: 200px;
  }
}

/* スクール紹介 */
.top-title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 60px;
}
#top-introduction {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  img {
    width: 300px;
    object-fit: cover
  }
  p {
    margin-left: 7%;
  }
}
#top-instagram-guidance {
  margin-top: 5%;
  p {
    font-weight: bold;
    margin-right: 5%;
  }
  a {
    margin-left: 50%;
  }
}
.top-detail-img {
  width: 100px;
}
#top-detail {
  margin-top: 50px;
  width: 100%;
  height: 700px;
  background-image: url(../images/home/introduction_background.jpg);
  background-size: auto;
  color: #ffffff;
  position: relative;
}
#top-schedule-venue {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  #top-schedule {
    margin-left: 3%;
    div {
      margin-top: 20px;
    }
  }
}
#top-schedule > h2::after,
#top-venue > h2::after {
  content: url("../images/home/line.png");
  display: inline-block;
  transform: scale(0.7);
}
.top-schedule-contents {
  padding-left: 10%;
}
#schedule-table1,
#schedule-table2 {
  white-space: nowrap;
  padding: 10px 0px 20px 20px;
}
.top-week {
  padding-right: 20px;
  font-weight: normal;
}
.top-cell {
  padding: 10px 0;
}
#top-venue {
  margin-right: 7%;  
  div {
    margin-top: 20px;
    p {
      padding: 20px 20px 20px 20px;
    }
  }
}