/* 全体の編集 */
body {
  margin: 0 auto 0 auto;  
  background-color: #f3f3f3;
  font-family: "Noto Sans JP", serif;
}

/* 変数 */
$color-gold: #8f784e;
$font-size-main: 16px;
$font-size-main-sp: 12px;
$font-size-35: 35px;
$font-size-30: 30px;

/* -------
共通の編集
--------- */
/* ヘッダー */
.wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
}
.logo {
  margin-left: 5px;
}
.icons {
  align-self: center;
  margin-right: 10px;
  margin-top: 15px;
  a {
    text-decoration: none;
  }
}
.tel {
  width: 120px;
  margin-bottom: 13px;
  margin-right: 5px;
}
.header-icon-instagram {
  width: 43px;
  margin-bottom: 3px;
}
.header-icon-line {
  width: 50px;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: $color-gold;
  width: 100%;
  height: 60px;
  li {
    list-style: none;
    text-decoration: none;
    align-content: center;
    margin-top: 5px;
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
    }
  } 
}
/* スマホ用ナビを非表示 */
#nav-sp, .menu-sp {
  display: none;
}

/* トップに戻るボタン */
.backToTop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: $color-gold;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 100;
}
.is-active {
  opacity: 1;
  visibility: visible;
}

/* フッター */
footer {
  position: relative;
  font-size: $font-size-main;
}
.footer {
  display: flex;
  justify-content: space-around;
  .footer-logo {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .footer-access {
    margin-top: 20%;
  }
}
.copyright {
  padding: 60px 0 20px 0;
  text-align: center;
  font-size: 10px;
}

/* --------------
トップページの編集
--------------- */
/* もっと見るボタンの設定 */
.button {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

/* カルーセル */
.carousel-section {
  overflow: hidden;
}
.carouselImg img {
  width: 100%;
  margin: 0 auto;
}

/* スクール紹介 */
.title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 60px;
  h2 {
    font-size: 50px;
    font-weight: bold;
  }
}
.top-introduction {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
  font-size: $font-size-main;
  align-items: flex-start;
  p {
    margin-left: 7%;
  }
}
.top-instagram-guidance {
  position: relative;
  margin-top: 5%;
  p {
    font-weight: bold;
    margin-right: 5%;
  }
  div {
    text-align: right;
  }
}
.top-club-partner {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: $font-size-main;
  h3 {
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
  }
}
.top-detail-title {
  width: 100px;
  background-color: $color-gold;
  border-radius: 15px;
  color: #ffffff;
  padding: 1px 0;
  h4 {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
  }
}
.top-detail {
  margin-top: 50px;
  width: 100%;
  background-image: url(../images/home/introduction_background.png);
  background-size: cover;
  color: #ffffff;
  position: relative;
}
.top-schedule-venue {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  .top-schedule {
    margin-left: 3%;
    div {
      margin-top: 20px;
    }
  }
}
.top-schedule > h3,
.top-venue > h3 {
  font-size: 25px;
}
.top-schedule > h3::after,
.top-venue > h3::after {
  content: url("../images/home/line.png");
  display: inline-block;
  transform: scale(0.7);
}
.top-schedule-contents {
  padding-left: 10%;
  font-size: $font-size-main;
}
.schedule-table1,
.schedule-table2 {
  white-space: nowrap;
  padding: 10px 0px 20px 20px;
}
.top-week {
  padding-right: 20px;
  font-weight: normal;
}
.top-cell {
  padding: 10px 0;
}
.top-venue {
  margin-right: 7%;  
  div {
    margin-top: 20px;
    p {
      padding: 20px 20px 20px 20px;
    }
  }
}

/* 入会募集 */
#top-recruitment > img {
  position: relative;
  margin: auto;
  display: block;
  width: 85%;
}
#top-recruitment {
  position: relative;
  .top-recruitment-message {
    margin: 30px 10%;
    .top-message {
      font-size: $font-size-main;
    }
    .top-note {
      position: absolute;
      right: 10%;
      font-size: 13px;
    }
  }
}
#top-guidance {
  text-align: center;
  margin-top: 80px;
  p {
    font-size: $font-size-35;
    font-weight: bold;
  }
  img {
    width: 70%;
    padding-top: 10px;
  }
}
.top-official {
  display: flex;
  justify-content: center;
  font-size: $font-size-main;
  font-weight: bold;
}
.top-official-uzura,
.top-official-gujo {
  margin-top: 40px;
  span {
    font-size: 25px;
    margin-left: 20px;
  }
  img {
    padding-top: 10px;
  }
}
.top-official-uzura {
  margin-right: 13%;
}

/* 指導メソッド/スタッフ紹介 */
#top-methods-staff {
  background: url(../images/home/home_background.png) no-repeat center /contain;
  background-color: #000000;
  color: #ffffff;
}

/* 指導メソッド */
.top-methods-title {
  padding-top: 30px;
}
.top-methods-message {
  display: flex;
  justify-content: center;
  font-size: $font-size-main;
  p {
    width: 40%;
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
}

/* スタッフ紹介 */
.top-staff {
  display: flex;
  justify-content: center;
  font-size: $font-size-main;
  p {
    width: 40%;
    margin-left: 70px;
  }
}
.top-representative {
  font-size: 20px;
}
.top-name {
  font-size: $font-size-30;
  font-weight: bold;
}
.top-name-kana {
  font-size: 10px;
}
.button-staff {
  padding: 5% 0;
}

/* --------------
スクール紹介ページの編集
--------------- */

/* スクール紹介 */
.title-white {
  margin-top: 0;
  padding-top: 70px;
  color: #ffffff;
}
#school-introduction {
  background-image: url(../images/introduction/introduction_background.png);
  color: #ffffff;
  font-size: $font-size-main;
}
.school-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  p {
    padding-left: 40px;
    width: 40%;
  }
}
.school-detail-message {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  h3 {
    font-size: 60px;
    font-weight: bold;
    color: $color-gold;
  }
  div {
    width: 70%;
    margin-left: 30px;
    margin-top: 15px;
    h4 {
      font-size: $font-size-30;
    }
  }
}
.school-detail-message02 {
  text-align: right;
  div {
    margin-right: 30px;
  }
  h3 {
    padding-right: 25px;
  }
}
.school-detail-message03 {
  padding-bottom: 100px;
}

/* スケジュール/会費 */
.school-schedule-fee {
  margin-right: 20px;
  margin-left: 20px;
  h3 {
    font-size: 25px;
    margin-left: 3%;
    margin-bottom: 30px;
    border-left: 4px solid $color-gold;
    padding-left: 20px;
  }
  p {
    padding-top: 20px;
    padding-right: 4%;
    text-align: right;
    font-size: $font-size-main;
  }
}
.school-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 210px;
  height: 250px;
  background-color: #000000;
  color: #ffffff;
  outline: 1px solid $color-gold;
  outline-offset: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card_textbox {
  padding: 12%;
  h4 {
    background: $color-gold;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
    text-align: center;
  }
  h5 {
    font-size: 16px;
    border-left: 2px solid $color-gold;
    padding-left: 8px;
  }
  li {
    list-style: none;
    font-size: 15px;
    span {
      font-size: 10px;
    }
  }
}
.card_schedule {
  padding-top: 10px;
  padding-left: 10px;
  li {
    padding-left: 5px;
  }
}
.card_mon_fee {
  padding-top: 10px;
  padding-left: 10px;
  li {
    padding-left: 5px;
  }
}
.school-uzura {
  margin-top: 40px;
}
.school-gujo {
  margin-top: 40px;
}

/* 練習場所 */
#school-place {
  align-items: center;
}
.school-place-map {
  display: flex;
  justify-content: center;
  iframe {
    width: 400px;
    height: 400px;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: $color-gold;
    font-size: 25px;
    color: #ffffff;
  }
}
.school-place-main {
  padding-bottom: 20%;
  font-size: $font-size-30;
}
.school-place-gujo {
  flex-direction: row-reverse;
}

/* ユニフォーム */
.uniform-bibs {
  text-align: center;
  background-color: $color-gold;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.uniform-bibs-img {
  width: 100%;
}
.school-original {
  text-align: center;
  padding-top: 50px;
  h4 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .school-original-text {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  span {
    color: $color-gold;
    font-size: $font-size-30;
    font-weight: bold;
    text-shadow: 2px 2px 4px #8e8e8e;
  }
}

/* お問い合わせ */
#school-contact {
  background-color: #000000;
  font-size: $font-size-main;
}
.title-contact {
  color: #ffffff;
  padding-top: 40px;
}
.school-contact-details {
  color: #ffffff;
  padding-bottom: 70px;
  .school-message {
    font-size: $font-size-35;
    padding-bottom: 30px;
  }
}
.school-contact-details > p {
  text-align: center;
}

/* --------------
クラス紹介の編集
--------------- */
#class-section {
  margin-bottom: 5%;
}
.class-introduction {
  width: 80%;
  margin: 0 auto;
  font-size: $font-size-main;
  h3 {
    margin-left: 3%;
    margin-bottom: 30px;
    border-left: 4px solid $color-gold;
    padding-left: 20px;
    font-size: 25px;
  }
}
.class-introduction-main {
  padding-left: 7%;
  .class-introduction-text {
    padding: 0 0 5% 1%;
  }
}
.class-name{
  width: 170px;
  background-color: $color-gold;
  border-radius: 10px;
  color: #ffffff;
  padding-top: 3px;
  padding-bottom: 3px;
  h4 {
    text-align: center;
    font-size: 18px;
  }
}
.class-merit {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 10px;
}
.class-merit-detail {
  border-top: 3px solid $color-gold;
  border-bottom: 3px solid $color-gold;
  width: 80%;
  margin: 0 auto;
  div {
    padding: 15px 5%;
  }
  .class-merit-title {
    font-size: 18px;
    font-weight: bold;
    span {
      color: $color-gold;
      font-size: 20px;
      padding-right: 10px;
    }
  }
  .class-merit-text {
    padding-left: 30px;
  }
}
.class-merit-detail-top {
  margin-top: 15px;
}
.class-merit-detail-bottom {
  margin-bottom: 15px;
}
.class-gujo-others {
  margin-top: 70px;
}
.class-others-main {
  font-size: 25px;
  padding: 0;
  margin-bottom: 10px;
}
.class-others-detail,
.class-others-resson {
  padding-left: 2%;
}

/* --------------
指導メソッドページの編集
--------------- */

/* 指導メソッド */
#methods {
  background-color: #000000;
  color: #ffffff;
}
.methods-first {
  width: 70%;
  display: flex;
  margin: 0 auto;
  font-size: $font-size-main;
}
.methods-second {
  padding-top: 200px;
  font-size: $font-size-main;
  background-image: url(../images/methods/methods_background.jpg);
  background-size: 100% auto;
}
.methods-second-text {
  display: flex;
  margin: 0 auto;
  padding-bottom: 90px;
  width: 85%;
  h3 {
    text-align: center;
    padding-bottom: 20px;
    font-size: $font-size-30;
  }
  img {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.methods-text-detail-first {
  padding-right: 40px;
}
.methods-text-detail-second {
  padding-left: 40px;
}
.methods-age-main {
  padding-top: 50px;
  padding-bottom: 50px;
}
.methods-circle {
  text-align: center;
  margin: 0 auto;
  content: "";
  width: 400px;
  height: 400px;
  border: 3px solid $color-gold;
  border-radius: 50%;
  .methods-age {
    margin-top: 40px;
  }
  h3 {
    font-size: 28px;
    font-weight: bold;
    white-space: nowrap;
    background-color: #000000;
  }
  span {
    font-size: 15px;
  }
  h4 {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }
}
.pre-golden-age {
  margin: 60px 10px 0 10px;
}
.golden-age {
  margin: 30px 10px 0 10px;
}
.post-golden-age {
  margin: 40px 10px 0 10px;
}
.independent-age {
  margin: 40px 10px 0 10px;
}
.circle-one {
  margin-right: 60%;
}
.circle-second {
  margin-left: 60%;
}

/* --------------
スタッフ紹介の編集
--------------- */
.staff-introduction {
  display: flex;
  margin: 0 auto;
  width: 70%;
  font-size: $font-size-main;
  border-bottom: 3px solid $color-gold;
  padding-bottom: 40px;
  img {
    padding-top: 20px;
  }
}
.staff-introduction-main {
  padding-left: 60px;
  .history-message {
    background-color: $color-gold;
    color: #ffffff;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    padding: 2px 0;
    margin: 10px 0 5px 0;
  }
  .staff-history {
    padding-left: 25px;
  }
}
.staff-introduction-end {
  padding: 30px 0 70px 0;
  border-bottom: 0;
}

/* ---------------------------
　　　　レスポンシブ対応
---------------------------- */

@media screen and (max-width: 767px) {

  /* ---------
    共通の編集
  ---------- */

  /* ヘッダーの編集 */
  .logo {
    width: 50px;
  }
  /* PC用ナビゲーション非表示 */
  .nav-pc {
    display: none;
  }
  /* ハンバーガーメニュー */
  .menu-sp {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 10px 0 0;
  }
  /* スマホ用ナビゲーションの表示切替*/
  /* 初期状態、レイアウトと非表示設定 */
  #nav-sp {
    background-color: $color-gold;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
    ul {
      padding: 20px 0;
      margin-top: 50px;
    }
    li {
      list-style: none;
    }
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #nav-sp nav a {
    display: block;
    color: #ffffff;
  }
  #nav-sp nav a:hover {
    text-decoration: underline;
  }
  .menu {
    text-decoration: none;
    margin: 0 20px;
    height: 40px;
    font-size: $font-size-main;
    background-image: url("../images/common/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
  }
  .sns{
    position: absolute;
    bottom: 20px;
    left: 20px;
    a {
      text-decoration: none;
    }
  }

  /* トップに戻るボタン */
  .backToTop {
    width: 45px;
    height: 45px;
    font-size: $font-size-main-sp;
  }

  /* タイトル */
  .title {
    margin-top: 50px;
    margin-bottom: 30px;
    h2 {
      font-size: 25px;
    }
    img {
      width: 250px;
    }
    .top-long {
      width: 300px;
    }
  }

  /* フッターの編集 */
  .footer {
    flex-direction: column;
    text-align: right;
  }
  .footer {
    .footer-logo {
      width: 60px;
    }
    .footer-access {
      width: 40%;
      margin-top: 20px;
      margin-right: 5%;
    }
  }

  /* ---------
    トップページの編集
  ---------- */

  /* スクール紹介の編集 */
  .top-introduction {
    flex-direction: column;
    font-size: $font-size-main-sp;
    p {
      margin: 0 auto;
    }
  }
  .top-introduction > div > p {
    padding-top: 30px;
  }
  .top-introduction > img {
    margin: 0 auto;
    width: 65%;
  }
  .top-instagram-guidance > div > a > img {
    width: 30%;
  }
  .top-club-partner {
    font-size: $font-size-main-sp;
    width: 90%;
    margin: 0 auto;
    h3 {
      font-size: 15px;
    }
  }
  .top-detail {
    background: url(../images/home/introduction_background.png) no-repeat center /contain;
    background-color: #000000;
  }
  .top-schedule-venue {
    flex-direction: column;
    padding-top: 20px;
  }
  .top-schedule-contents {
    font-size: $font-size-main-sp;
    padding-left: 15px;
  }
  .top-venue {
    margin-left: 3%;
  }
  .top-schedule > h3,
  .top-venue > h3 {
    font-size: 18px;
    padding-left: 10px;
  }

  /* 入会募集の編集 */
  #top-recruitment {
    .top-recruitment-message {
      .top-message {
        font-size: $font-size-main-sp;
      }
      .top-note {
        font-size: 8px;
      }
    }
  }
  #top-guidance {
    margin-top: 40px;
    p {
      font-size: 15px;
    }
  }
  .top-official {
    flex-direction: column;
    text-align: right;
  }
  .top-official-uzura,
  .top-official-gujo {
    font-size: $font-size-main-sp;
    display: flex;
    margin: 0 auto;
    p {
      white-space: nowrap;
    }
    span {
      font-size: 15px;
    }
    img {
      width: 100px;
      padding-top: 0;
      padding-left: 20px;
    }
  }
  .top-official-uzura {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .top-official-uzura > p::after,
  .top-official-gujo > p::after {
    content: url("../images/home/arrow.png");
    padding-left: 10px;
  }

  /* 指導メソッド */
  .top-methods-message {
    flex-direction: column-reverse;
    p {
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      font-size: $font-size-main-sp;
    }
    img {
      width: 50%;
      margin: 0 auto;
    }
  }

  /* スタッフ紹介 */
  .top-staff {
    flex-direction: column;
    p {
      margin: 10px auto 0 auto;
      width: 80%;
      font-size: $font-size-main-sp;
    }
    div {
      margin: 0 auto;
    }
  }
  .top-representative {
    font-size: 15px;
  }
  .top-name {
    font-size: 20px;
    font-weight: bold;
  }
  .top-name-kana {
    font-size: 10px;
  }
  .button-staff {
    padding: 0 0 30px 0;
  }
  .top-staff-title {
    margin-top: 20px;
  }

  /* -------------------
  スクール紹介ページの編集
  -------------------- */

  /* スクール紹介 */
  .school-detail {
    flex-direction: column;
    p {
      font-size: $font-size-main-sp;
      padding: 20px 0 0 0;
      width: 65%;
    }
    div {
      display: flex;
      justify-content: center;
      img {
        width: 70%;
      }
    }
  }
  .school-detail-message {
    font-size: $font-size-main-sp;
    h3 {
      font-size: $font-size-35;
    }
    div {
      width: 70%;
      margin-left: 20px;
      h4 {
        font-size: 20px;
      }
    }
  }
  .school-detail-message02 {
    div {
      margin-right: 20px;
    }
  }

  /* スケジュール/会費 */
  .school-schedule-fee {
    p {
      font-size: $font-size-main-sp;
    }
  }

  /* 練習場所 */
  .school-place-map {
    iframe {
      width: 150px;
      height: 150px;
    }
    div {
      width: 150px;
      height: 150px;
      font-size: $font-size-main-sp;
    }
  }
  .school-place-main {
    font-size: $font-size-main-sp;
  }

  /* ユニフォーム */
  .uniform-bibs {
    font-size: 15px;
  }
  .school-original {
    font-size: $font-size-main-sp;
    padding-top: 30px;
    h4 {
      font-size: 15px;
    }
    span {
      font-size: 18px;
    }
  }

  /* お問い合わせ */
  #school-contact {
    // background-color: #000000;
    font-size: $font-size-main-sp;
  }
  .school-contact-details {
    // color: #ffffff;
    padding-bottom: 40px;
    .school-message {
      font-size: 20px;
      // padding-bottom: 30px;
    }
    .school-official-uzura {
      margin-top: 50px;
    }
  }

  /* --------------
  クラス紹介の編集
  --------------- */
  .class-introduction {
    font-size: $font-size-main-sp;
  }
 .class-introduction-main {
    .class-introduction-text {
      padding: 0 0 10% 1%;
    }
  }
  .class-name{
    width: 140px;
    h4 {
      font-size: 15px;
    }
  }
  .class-merit {
    font-size: 15px;
    padding-top: 30px;
  }
  .class-merit-detail {
    div {
      padding: 15px 0;
    }
    .class-merit-title {
      font-size: 15px;
    }
  }
  .class-others-main {
    font-size: 18px;
  }
  /* -------------------
  指導メソッドページの編集
  -------------------- */

  /* 指導メソッド */
  .methods-first {
    width: 85%;
    font-size: $font-size-main-sp;
  }
  .methods-second {
    padding-top: 50px;
    font-size: $font-size-main-sp;
    // background-image: url(../images/methods/methods_background.jpg);
    // background-size: 100% auto;
  }
  .methods-second-text {
    flex-direction: column;
    // display: flex;
    // margin: 0 auto;
    padding-bottom: 50px;
    // width: 85%;
    h3 {
      // text-align: center;
      // padding-bottom: 20px;
      font-size: 20px;
    }
    .methods-second-img-sp {
      display: flex;
      justify-content: center;
      img {
        width: 70%;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
  .methods-second-text-sp {
    flex-direction: column-reverse;
  }
  .methods-text-detail-first {
    padding-right: 0;
  }
  .methods-text-detail-second {
    padding-left: 0;
  }
  .methods-age-main {
    font-size: $font-size-main-sp;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    // padding-bottom: 50px;
  }
  .methods-circle {
    // text-align: center;
    margin: 0;
    margin-bottom: 30px;
    // content: "";
    width: 300px;
    height: 300px;
    // border: 3px solid $color-gold;
    // border-radius: 50%;
    // .methods-age {
    //   margin-top: 40px;
    // }
    h3 {
      font-size: 20px;
      // font-weight: bold;
      // white-space: nowrap;
      // background-color: #000000;
    }
    span {
      font-size: 10px;
    }
    h4 {
      // padding-top: 40px;
      font-size: 15px;
      // font-weight: bold;
    }
  }
  .pre-golden-age {
    margin: 20px 10px 0 10px;
  }
  // .golden-age {
  //   margin: 30px 10px 0 10px;
  // }
  // .post-golden-age {
  //   margin: 40px 10px 0 10px;
  // }
  // .independent-age {
  //   margin: 40px 10px 0 10px;
  // }
  .circle-one {
    margin-right: 0;
  }
  .circle-second {
    margin-left: 0;
  }
}